<section id="brand" style="background-color:{{ config('theme::variables.brand-background') }}">
    <div class="logo">
        <span>{{ trans('theme::control_panel.title') }}</span>
    </div>
    <button  data-toggle="push-menu" href="#" class="btn btn-sm toggle pull-right">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
</section>
