<section id="footer">

    <ul>
        <li class="logo">
            <a href="https://bitsoflove.be/" target="_blank">
                Made by Bits of Love
            </a>
        </li>
    </ul>

    <ul class="pull-right">
        <li class="language">
            <select class="c-select" onchange="window.location = '?_locale=' + this.value;">
                {% for iso in config('streams::locales.supported')|keys %}
                    <option value="{{ iso }}" {{ config('app.locale') == iso ? 'selected' }}>
                        {{ trans('streams::locale.' ~ iso ~ '.name') }} ({{ iso }})
                    </option>
                {% endfor %}
            </select>
        </li>
    </ul>

</section>

{% include "theme::partials/help" %}