.form
{
    .field-group
    {
        margin-bottom: 0;
        padding-bottom: 0;

        .form-group
        {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}
.select2-container
{
    .select2-choices
    {
        .select2-search-choice
        {
            margin: 3px 5px 3px 0;
        }
    }
}
