<!doctype html>
<html>
    <head>
        {% block metadata deferred %}
        {% include "bitsoflove.theme.admin::partials/metadata" %}
        {% endblock %}
    </head>

    <body class="pushing">
        <main id="main">
            <div id="sidebar">
                {% include "bitsoflove.theme.admin::partials/brand" %}
                {% include "bitsoflove.theme.admin::partials/sidebar" %}
            </div>
            <div id="content">
                {% include "bitsoflove.theme.admin::partials/navbar" %}
                {% include "bitsoflove.theme.admin::partials/header" %}

                {% include "pyrocms.theme.pyrocms::partials/banner" %}
                {% include "pyrocms.theme.pyrocms::partials/breadcrumbs" %}
                <div class="container-fluid">
                    {% include "pyrocms.theme.pyrocms::partials/messages" %}
                </div>
                {{ block('content') }}
            </div>
            {% include "bitsoflove.theme.admin::partials/footer" %}
        </main>

        {% include "pyrocms.theme.pyrocms::partials/modals" %}
        {% include "pyrocms.theme.pyrocms::partials/js" %}
    </body>
</html>
