<!doctype html>

<html>

<head>
    {% block metadata deferred %}
    {% include "bitsoflove.theme.admin::partials/metadata" %}
    {% endblock %}
</head>

<body class="variant-{{ random(8) }} expand" data-variants="8">

<section id="app">

    {% include "bitsoflove.theme.admin::partials/topbar" %}
    {% include "bitsoflove.theme.admin::partials/sidebar" %}

    <main id="main">

        {{ breadcrumb() }}

        <div class="container-fluid">
            {% include "bitsoflove.theme.admin::partials/messages" %}
            {% include "bitsoflove.theme.admin::partials/buttons" %}
        </div>

        {% block content %}{% endblock %}

    </main>
</section>

{% include "bitsoflove.theme.admin::partials/footer" %}
{% include "bitsoflove.theme.admin::partials/modals" %}
{% include "bitsoflove.theme.admin::partials/js" %}

</body>
</html>
