<!doctype html>
<html>
    <head>
        {% include "bitsoflove.theme.admin::partials/metadata" %}
    </head>
    <body id="login" style="background-image: url({{ image_path(random(config('bitsoflove.theme.admin::design.backgrounds'))) }})">

    <row>
        <div class="col-lg-14 col-sm-24 left">
            <div class="logo">
                <span>Bits of Love</span>
            </div>
        </div>
        <div class="col-lg-10 col-sm-24 right">
            {{ block('content') }}
        </div>
    </row>

    {% include "pyrocms.theme.pyrocms::partials/js" %}
    </body>
</html>
