<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="login" style="background-color: #d2d6de">

{{ block('content') }}

{% include "theme::partials/js" %}

</body>
</html>
